.body01{
    background-color: #152128;
}
.div01{
    background-color: rgba(255, 255, 255, 0.846);
    text-align: center;
    font-style: italic;
    padding: 5px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    margin-top: 2%;
    box-shadow: #de0808 0px 0px 30px;
}
.div02{
    background-color: white;
    font-style: italic;
    box-shadow: #de0808 0px 0px 30px;
    margin-top: 5%;
    margin-left: 48%;
    margin-bottom: 5%;
}
.a01{
    text-decoration: none;
    color: black;
}