body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #152128;
    }
    header {
      background-color: #760909;
      color: #fff;
      padding: 10px;
    }
    header h1 {
      margin: 0;
      display: inline;
    }
    .nav-links {
      float: right;
      margin-top: -5px;
    }
    .nav-links a {
      margin-right: 50px;
      color: #fff;
      text-decoration: none;
    }
    .container {
      width: 800px;
      margin: 0 auto;
      background-color: white;
      padding: 20px;
      border-top: 5px solid #ccc;
      border-bottom: 5px solid #ccc;
      border-radius: 20px;
    }
    .forum {
      margin-bottom: 20px;
    }
    .forum h2 {
      margin-top: 0;
    }
    .forum .comment-box {
      margin-bottom: 20px;
    }
    .forum .comment-box textarea {
      width: 100%;
      height: 100px;
      resize: none;
      padding: 5px;
    }
    .forum .comment-box button {
      padding: 5px 10px;
      margin-top: 5px;
    }
    .forum .comment-list {
      list-style-type: none;
      padding: 0;
    }
    .forum .comment-list li {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }
    .forum .comment-list .comment-meta {
      font-size: 12px;
      color: #888;
    }
