*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #111;
    font-family: "Open Sans";
    padding: 10px;
    color: #fff;
    width: 100%;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.sociales{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.sociales li{
    margin: 0 10px;

}

.sociales a{
    text-decoration: none;
    color: #fff;    
}

.sociales a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.sociales a :hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0 ;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}

.foto img{
    width: 30%;
    padding-left: 120px;
    padding-bottom: 40px;
    margin-top: 10px;
}
.foto{
    align-items: center;
}

.iconos{
    margin-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;

}
.iconos i{
    align-items: center;
    margin-left: 40px;
    margin-right: 28px;
    font-size: 30px;
    transition: .3s;
    color: cyan;

}
.iconos i:hover{
    transform: scale(1.2);
}
/*.yt i:hover{
    transform: scale(1.2);
    color: red;
}
.steam i:hover{
    color: #056295;
}*/
.ig i:hover{
    transform: scale(1.2);
    color: #b830d3;
}
