body{
    padding: 0;
    margin: 0%;
}

.color{
    background-color: rgb(231, 206, 173);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #152128;
    padding-bottom: 20px;
}

.logo{
    display: flex;
}

.logo img{
    border-radius: 100%;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
}


a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    padding-top: 10px;
}

.nav-link{
    display: inline-block;
    padding: 10px;
}
