#more {display: none;}
.boton{
    border-radius: 35px;
}
.showmore {background-color: rgba(52, 165, 42, 0.74);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid 0px;
    border-radius: 10px;
    font-family: Arial;
    animation: fadeIn 3s;
    

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }